@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --main-color: #E5E5E5;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--main-color);

  font-family: 'Inter', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}